
@media (min-width: 769px){

.smile-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px auto;
  }
  
  .center-smile {
    position: absolute;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
  }
  
  .orbiter {
    top: 0;
    left: 0;
    transform-origin: 0 0;
  }
  
  
  /* Orbiting images */
  .orbit img {
    position: absolute;
    width: auto;
    height: 10vh;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: fade 6s ease-in-out forwards;
  }
  
  
  /* Fade in → out */
  @keyframes fade {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }

  h1{
    font-size: medium;
    font-family: cursive;
    position: absolute;
    top: 57%;
    left: 42.5%;
  }
}

@media (max-width: 768px) {
    .smile-container {
        position: relative;
        width: 250px;
        height: 300px;
        margin: 100px auto;
      }
      
      .center-smile {
        position: absolute;
        width: 40vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
      
      .orbit {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
      }
      
      .orbiter {
        top: 0;
        left: 0;
        transform-origin: 0 0;
      }
      
      
      /* Orbiting images */
      .orbit img {
        position: absolute;
        width: auto;
        height: 10vh;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: fade 6s ease-in-out forwards;
      }
      
      
      /* Fade in → out */
      @keyframes fade {
        0% { opacity: 0; }
        20% { opacity: 1; }
        80% { opacity: 1; }
        100% { opacity: 0; }
      }


      h1{
        font-size: small;
        font-family: cursive;
        position: absolute;
        top: 54%;
        left: 32%;
      }
    

}