@media (min-width: 769px){
    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;    /* Centers items horizontally */
        justify-content: center; /* Centers items vertically (optional) */
        text-align: center;      /* Centers the text inside the headers */
        width: 40vw;
        }
    
    h1{
        margin-bottom: 5vh;
    }

    .forddescription{
        width: 30vh;
        height: auto;
        font-size: small;
        margin-bottom: 3vh;
        margin-top: 0vh;
    }
    
    .ford{
        width: 25vh;
        height: auto;
        margin-top: -2vh;
        margin-bottom: 5vh;
    }
    
    .forddescription2{
        width: 30vh;
        height: auto;
        font-size: small;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }
}

@media (max-width: 768px) {
    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;    /* Centers items horizontally */
        justify-content: center; /* Centers items vertically (optional) */
        text-align: center;      /* Centers the text inside the headers */
        width: 90vw;
        }

    .forddescription{
      width: 30vh;
      height: auto;
      font-size: small;
      margin-bottom: -10vh;
      margin-top: 1vh;
    }
    
    .ford{
      width: 30vh;
      height: auto;
      margin-top: 10vh;
      margin-bottom: 5vh;
    }
    
    .forddescription2{
      width: 30vh;
      height: auto;
      font-size: small;
      margin-bottom: 0vh;
      margin-top: -1vh;
    }
}  