
@media (min-width: 769px){

  
  .sideeye{
    position: absolute;
    top:65vh;
    width: 16vh;
    height: auto;
    margin-top: -20vh;
    margin-bottom: -7vh;
  }
  
  
  .sideeye:hover{
    opacity: 0.5;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(-2px, 2px) rotate(-2deg); }
    40% { transform: translate(2px, -2px) rotate(2deg); }
    60% { transform: translate(-2px, 2px) rotate(-2deg); }
    80% { transform: translate(2px, -2px) rotate(2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
  
  .shake {
    animation: shake 0.5s ease-in-out;
  }


}

@media (max-width: 768px) {
 
  
  
  .sideeye{
    position: absolute;
    top:65vh;
    width: 10vh;
    height: auto;
    margin-top: -20vh;
    margin-bottom: -7vh;
    margin-left: -5vh;
  }
  
  
  .sideeye:hover{
    opacity: 0.5;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(-2px, 2px) rotate(-2deg); }
    40% { transform: translate(2px, -2px) rotate(2deg); }
    60% { transform: translate(-2px, 2px) rotate(-2deg); }
    80% { transform: translate(2px, -2px) rotate(2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
  
  .shake {
    animation: shake 0.5s ease-in-out;
  }
  
  
}